<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Username</th>
            <th>Edit Here</th>
            <th>Delete Here</th>
        </tr>
    <% for (user of users) { %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.username %></td>
            <td>
                <form action="/user/<%=user.id%>/edit" method="GET">
                    <button>
                        Edit
                    </button>
                </form>
            </td>
            <td>
                <form action="/user/<%= user.id %>/delete"  method="GET">
                    <button>Delete</button>
                </form>
            </td>
        </tr>
    <% } %>
        <tr>
            <form action="/user/new" method="GET">
                <td colspan="4">
                    <button>Add User</button>
                </td>
            </form>            
        </tr>

    </table>
</body>
</html>

